<div class="battle-area">
    <div class="close">
        <a class = "me-2 mt-2 bi bi-x-lg" (click)="close()"></a>
    </div>
    <h2>Seu territorio</h2>
    <p>{{territory.name}}</p>
    <h2>Territorio inimigo</h2>
    <p *ngIf="enemy">{{enemy.name}}</p>

    <form [formGroup]="enemyForm" (ngSubmit)="attack()">
        <select formControlName="option" class="form-select" aria-label="Default select example">
            <option *ngFor="let item of neighborList" value="{{item?.id}}">{{item?.name}}</option>
        </select>
        <button type="submit">Atacar</button>
    </form>

</div>
