<app-nav-bar></app-nav-bar>

<div class="divisor">
    
    <div class="game-area">
        <h2> Let's Play</h2>
        
        <img src="https://a-static.mlcdn.com.br/1500x1500/jogo-war-tabuleiro-o-jogo-da-estrategia-war-edicao-especial-grow/magazineluiza/220544300/240b6d61d4bbeb13d903bea4fe528704.jpg" alt="Mapa">
        
        <div class="button-area">
            <button>Iniciar</button>
            <button>Instruções</button>
        </div>

    </div>

    <app-sidebar></app-sidebar>
    
</div>