<div class="contain">

    <div class="arrow-drop" data-bs-toggle="collapse" href="#collapse" aria-expanded="true">
        <img src="../../../assets/img/right-arrow.png" alt ="arrow">
    </div>
    <div class="sidebar collapse" id="collapse">
        <div class="continente" *ngFor="let continente of mapa.continents">
            <div class="title" data-bs-toggle="collapse" data-bs-target="">
                <h2>{{continente.name}}</h2>
            </div>
            
            <div class="territorio-card" *ngFor="let territorio of continente.regions">
                <div class="territorio-card" [ngStyle]="{'background-color': active ? colorTerritory(continente.id-1,territorio.id) : 'white', 'color' : !active ? 'black' : 'white'}" id="{{territorio.id}}">
                    <p (click)="checkMap(territorio)" >{{territorio.name}}</p>
                    <p>Tropas: {{territorio.tropas}}</p>
                </div>
            </div>
        </div>
    </div>
    
</div>